@import "custom";
@import "~bootstrap/scss/bootstrap";

// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import "~font-awesome/css/font-awesome.css";

$beige: #f4ecd8;
$brown: #54482e;
$green: #bcc38f;
$blue: #5c8a9a;


body {
    background-color: $beige;
    color: $brown;
}

h1 {
    font-size: 2.2rem;
}

.custom-button {
    background-color: $blue;
    color: white;
}

.custom-button:hover {
    background-color: #f9e7b8;
    color: $brown;
}

.hide {
    display: none;
}

.navbar {
    background-color: #e8d5c0;
    margin-bottom: 15px;
    box-shadow: 0px 5px 4px #6d61468b;
    color: $brown;
}

.navbar .custom-button {
    background-color: $brown;
    color: $beige;
}

.navbar .custom-button:hover {
    background-color: #63573d;
}

#canvas {
    border: 2px solid $green !important;
    border-radius: 15px;
  }

.canvas-container {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}

.canvas-container #flowerbed-property, .canvas-container #flowerbed-shadow-property, #plant_maintenance_action {
    visibility: hidden;
}

#message {
    position: absolute;
    top: 640px;
    left: 190px;
    padding: 10px;
    width: 60%;
    margin: auto;
}

#plant_maintenance_action {
    margin-top: 10px;
}

#plant_maintenance_action label, #plant_maintenance_action input {
    margin-right: 10px;
}



#canvas {
    border: solid 1px black;
}

input, select {
    background-color: #fef8e0;
    border: none;
    border-radius: 15px;
    padding: 2px;
    padding-left: 10px;
  }


#flowerbed-property {
    margin-top: 38px;
    margin-left: 63px;
}

#flowerbed-property select, #flowerbed-property input, #flowerbed-shadow-property select {
    color: $brown;
    margin: 0 10px;
}

#flowerbed-shadow-property {
    margin-top: -30px;
    margin-left: 63px;
}




#Rect {
    z-index: 1;
    position: absolute;
    top: 150;
    left: 150;
    width: 50px;
    height: 50px;
    border: 2px dashed black;
    display: none;
}

#Circle, #PlantTemp {
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px dashed black;
    display: none;
}


#tools_container {
    margin-top: 55px;
}
#tools_container > button {
    margin: 10px;
}

.form-check-label {
    margin-left: 24px;
    color: $brown;
}


.form-check {
    margin-left: 15px;
    margin-bottom: 20px;
}



.plantCard {
    background-color: $green;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
}

.plantCard p {
    margin: auto;
}

.shared_garden {
    float: right;
    padding: 1px 7px 5px 7px;
    background-color: rgb(127, 127, 127);
    color: white;
    border-radius: 10px;
}

.plantHover {
    position: absolute;
    z-index: 1;
    padding: 20px;
    top:  15px;
    left: 15px;
    width: 400px;
    height: auto;
    background-color: #f9e7b8;
    border-radius: 15px;
}

#canvasPlantHover {
    position: absolute;
    z-index: 1;
    padding: 20px;
    top:  15px;
    right: 15px;
    width: 400px;
    height: auto;
    background-color: #f9e7b8;
    visibility: hidden;
    border-radius: 15px;
}

#self_sufficiency_container {
    width: 400px;
    height: 30px;
    //border: 1.5px solid $brown;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 62px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(254, 248, 224);
}

#self_sufficiency_gauge {
    height: 40px;
    background-color: $blue;
    border-radius: 0 13px 13px 0;
    margin-left: -5px;
}

#water_decrees_container {
    height: 50px;
    width: 78%;
    color: $brown;
    background-color: rgb(254, 248, 224);
    padding-top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.glide__slide {
    width: 100%;
}



/*Search*/

#searchButton {
    padding-right: 3px;
    margin-left: 255px;
    height: 45px;
    margin-top: 15px;
}

#searchButton .fa-search {
    position: relative;
    left: -7px;
    top: 4px;
}

#searchButton .fa-square-o {
    font-size: 20px;
    font-weight: bold;
}

#search_container + ul {
    padding: 15px;
    margin-top: 10px;
    height: 400px;
    overflow-y: scroll;
    background-color: #dbe5d0;
    border-radius: 15px;
    color: $brown;
}

#search_container + ul .search_no_data {
    margin-left: 28px;
    margin-top: 160px;
}

#filter_icon_container {
    color: $brown;
    background-color: #f9e7b8;
    padding: 6px 10px;
    width: 80px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#filter_icon_container:hover {
    background-color: #d9c185;
}


@keyframes move-diagonal {
    0% {
      transform: translateY(0) skewX(0deg);
    }
    25% {
      transform: translateY(-3px) skewX(18deg);
    }
    50% {
      transform: translateY(0) skewX(0deg);
    }
    75% {
      transform: translateY(3px) skewX(-18deg);
    }
    100% {
      transform: translateY(0) skewX(0deg);
    }
  }

  @keyframes change-border-radius {
    0% {
      border-radius: 0px 0px 32px 0px;
    }
    50% {
      border-radius: 0px 22px 0px 0px;
    }
    100% {
      border-radius: 0px 0px 32px 0px;
    }
  }
  
  
  #self_sufficiency_gauge {
    margin-top: -5px;
    animation: move-diagonal 5s linear infinite, /* Durée de l'animation et itérations infinies */
               change-border-radius 5s linear infinite
  }


  #search_container {
    margin-bottom: 15px;
    height: 180px;
    overflow-y: scroll;
    background-color: #f9e7b8;
    padding: 15px;
    border-radius: 0 15px 15px 15px;
    margin-top: -5px;
  }


  

  #search_container::-webkit-scrollbar, #search_container + ul::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Couleur de fond de la scrollbar */
  #search_container::-webkit-scrollbar-track, #search_container + ul::-webkit-scrollbar-track {
    background-color: #faf8f1;
    border-radius: 5px;
  }
  
  /* Couleur du bouton de défilement (thumb) */
  #search_container::-webkit-scrollbar-thumb {
    background-color: #5f4f28;
    border-radius: 5px; /* Arrondir les coins du bouton */
  }
  
  /* Style au survol du bouton de défilement */
  #search_container::-webkit-scrollbar-thumb:hover {
    background-color: #4b3d1a;
  }

  /* Couleur du bouton de défilement (thumb) */
  #search_container + ul::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 5px; /* Arrondir les coins du bouton */
  }
  
  /* Style au survol du bouton de défilement */
  #search_container + ul::-webkit-scrollbar-thumb:hover {
    background-color: #9ea562;
  }